<h1>Products</h1>

<% @products.each do |product| %>

  <div style="margin-bottom: 1rem;">
    <h2><%= product.name %></h2>
    <%= content_tag :div, truncate(product.description), id: "d-#{product.id}" %>
    <%= button_tag 'More Info', class: 'js-more', data: { id: product.id } %>
  </div>

<% end %>

<script type="text/javascript">

$(() => {
  $('.js-more').on('click', function() {
    const id = $(this).data('id')
    fetch(`products/${id}/description`)
      .then(response => response.text())
      .then(text => {
        
        $(`d-${id}`).text(text)
      })

  })
})

</script>
